<template>
  <div id="app">
    <a-button type="primary"> Primary </a-button>
    <!-- <Chart style="height: 500px" :option="option1"></Chart> -->
  </div>
</template>

<script>
import Chart from "./components/chart.vue";

export default {
  name: "App",
  components: {
    Chart,
  },
  data() {
    return {
      option1: {
        grid: {
          show: true,
          backgroundColor: "transparent",
          opacity: 0.3,
          borderWidth: "0",
          top: "180",
          bottom: "0",
        },
        tooltip: {
          trigger: "axis",
          // axisPointer: {
          // type: "cross",
          // },
        },
        legend: {
          show: false,
        },
        xAxis: [
          // 日期
          {
            type: "category",
            boundaryGap: false,
            position: "top",
            offset: 130,
            zlevel: 100,
            axisLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            axisLabel: {
              interval: 0,
              formatter: ["{a|{value}}"].join("\n"),
              rich: {
                a: {
                  // color: 'white',
                  fontSize: 18,
                },
              },
            },
            nameTextStyle: {},
            data: ["25日", "26日", "27日", "28日", "29日", "30日", "31日"],
          },
          // 星期
          {
            type: "category",
            boundaryGap: false,
            position: "top",
            offset: 110,
            zlevel: 100,
            axisLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            axisLabel: {
              interval: 0,
              formatter: ["{a|{value}}"].join("\n"),
              rich: {
                a: {
                  // color: 'white',
                  fontSize: 14,
                },
              },
            },
            nameTextStyle: {
              fontWeight: "bold",
              fontSize: 19,
            },
            data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"],
          },
          // 天气图标
          {
            type: "category",
            boundaryGap: false,
            position: "top",
            offset: 20,
            zlevel: 100,
            axisLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            axisLabel: {
              interval: 0,
              formatter: function (value, index) {
                return "{" + index + "| }\n{b|" + value + "}";
              },
              rich: {
                0: {
                  backgroundColor: {
                    // image: require('@/assets/weather_icon/' + this.weatherIconDic[this.weatherdata.weather[0]] + '.png')
                    image: "https://d.scggqx.com/forecast/img/小雨.png",
                  },
                  height: 40,
                  width: 40,
                },
                1: {
                  backgroundColor: {
                    // image: require('@/assets/weather_icon/' + this.weatherIconDic[this.weatherdata.weather[1]] + '.png')
                    image: "https://d.scggqx.com/forecast/img/小雨.png",
                  },
                  height: 40,
                  width: 40,
                },
                2: {
                  backgroundColor: {
                    // image: require('@/assets/weather_icon/' + this.weatherIconDic[this.weatherdata.weather[2]] + '.png')
                    image: "https://d.scggqx.com/forecast/img/阴.png",
                  },
                  height: 40,
                  width: 40,
                },
                3: {
                  backgroundColor: {
                    // image: require('@/assets/weather_icon/' + this.weatherIconDic[this.weatherdata.weather[3]] + '.png')
                    image: "https://d.scggqx.com/forecast/img/小雨.png",
                  },
                  height: 40,
                  width: 40,
                },
                4: {
                  backgroundColor: {
                    // image: require('@/assets/weather_icon/' + this.weatherIconDic[this.weatherdata.weather[4]] + '.png')
                    image: "https://d.scggqx.com/forecast/img/多云.png",
                  },
                  height: 40,
                  width: 40,
                },
                5: {
                  backgroundColor: {
                    // image: require('@/assets/weather_icon/' + this.weatherIconDic[this.weatherdata.weather[5]] + '.png')
                    image: "https://d.scggqx.com/forecast/img/小雨.png",
                  },
                  height: 40,
                  width: 40,
                },
                6: {
                  backgroundColor: {
                    // image: require('@/assets/weather_icon/' + this.weatherIconDic[this.weatherdata.weather[6]] + '.png')
                    image: "https://d.scggqx.com/forecast/img/小雨.png",
                  },
                  height: 40,
                  width: 40,
                },
                b: {
                  // color: 'white',
                  fontSize: 12,
                  lineHeight: 30,
                  height: 20,
                },
              },
            },
            nameTextStyle: {
              fontWeight: "bold",
              fontSize: 19,
            },
            // data: this.weatherdata.weather
            data: ["小雨", "小雨", "阴", "小雨", "多云", "小雨", "小雨"],
          },
          // 底部
          {
            type: "category",
            boundaryGap: false,
            position: "bottom",
            offset: -100,
            zlevel: 100,
            axisLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            axisLabel: {
              interval: 0,
              formatter: ["{a|{value}}"].join("\n"),
              rich: {
                a: {
                  fontSize: 14,
                },
              },
            },
            nameTextStyle: {
              fontWeight: "bold",
              fontSize: 19,
            },
            // data: this.weatherdata.weather
            data: ["25日", "26日", "27日", "28日", "29日", "30日", "31日"],
          },
          {
            type: "category",
            boundaryGap: false,
            position: "bottom",
            offset: -80,
            zlevel: 100,
            axisLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            axisLabel: {
              interval: 0,
              formatter: ["{a|{value}}"].join("\n"),
              rich: {
                a: {
                  fontSize: 14,
                  color: "white",
                  backgroundColor: "blue",
                  padding: [4, 10],
                  borderRadius: 4,
                },
              },
            },
            nameTextStyle: {},
            // data: this.weatherdata.weather
            data: ["25日", "26日", "27日", "28日", "29日", "30日", "31日"],
          },
        ],
        yAxis: {
          type: "value",
          show: false,
          axisLabel: {
            formatter: "{value} °C",
            color: "white",
          },
        },
        series: [
          {
            name: "最高气温",
            type: "line",
            data: ["16.3", "16.2", "17.6", "14.2", "17.6", "15.7", "14.3"],
            symbol: "emptyCircle",
            symbolSize: 10,
            showSymbol: true,
            smooth: true,
            itemStyle: {
              normal: {
                color: "#C95843",
              },
            },
            label: {
              show: true,
              position: "top",
              // color: 'white',
              formatter: "{c} °C",
            },
            lineStyle: {
              width: 1,
              // color: 'white'
            },
            areaStyle: {
              opacity: 1,
              color: "transparent",
            },
          },
          {
            name: "最低气温",
            type: "line",
            data: ["13.4", "12.8", "13.5", "12.5", "12.4", "13.2", "13"],
            symbol: "emptyCircle",
            symbolSize: 10,
            showSymbol: true,
            smooth: true,
            itemStyle: {
              normal: {
                color: "blue",
              },
            },
            label: {
              show: true,
              position: "bottom",
              // color: 'white',
              formatter: "{c} °C",
            },
            lineStyle: {
              width: 1,
              // color: 'white'
            },
            areaStyle: {
              opacity: 1,
              color: "transparent",
            },
          },
        ],
      },
      option2: {
        legend: {},
        tooltip: {},
        dataset: {
          source: [
            ["product", "2015", "2016", "2017"],
            ["Matcha Latte", 43.3, 85.8, 93.7],
            ["Milk Tea", 83.1, 73.4, 55.1],
            ["Cheese Cocoa", 86.4, 65.2, 82.5],
            ["Walnut Brownie", 72.4, 53.9, 39.1],
          ],
        },
        xAxis: { type: "category" },
        yAxis: {},
        // Declare several bar series, each will be mapped
        // to a column of dataset.source by default.
        series: [{ type: "bar" }, { type: "bar" }, { type: "bar" }],
      },
      option3: {
        title: {
          text: "Referer of a Website",
          subtext: "Fake Data",
          left: "center",
        },

        tooltip: {
          trigger: "item",
        },
        legend: {
          orient: "vertical",
          left: "left",
        },
        series: [
          {
            name: "Access From",
            type: "pie",
            selectedMode: "single",
            radius: "50%",
            label: {
              // position: "inner",
              // fontSize: 14,
            },
            labelLine: {
              length: 50,
              length2: 30,
              lineStyle: {
                type: "dashed",
              },
            },
            data: [
              { value: 1048, name: "Search Engine" },
              { value: 735, name: "Direct" },
              { value: 580, name: "Email" },
              { value: 484, name: "Union Ads" },
              { value: 300, name: "Video Ads" },
            ],
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: "rgba(0, 0, 0, 0.5)",
              },
            },
          },
        ],
      },
      option4: {
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
        },
        yAxis: {
          type: "value",
        },
        series: [
          {
            data: [820, 932, 901, 934, 1290, 1330, 1320],
            type: "line",
            symbol: "none",
            smooth: true,
            areaStyle: {
              opacity: 0.3,
              color: "blue",
            },
          },
        ],
      },
    };
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
